In [1]:
import pandas as pd

In [2]:
path = '../datasets/candy.csv'
df = pd.read_csv(path)
df.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465

## Estrategias de Clustering
Los algoritmos de clustering son las estrategias que podemos usar para agrupar los datos de tal manera que todos los datos pertenecientes a un grupo sean lo más similares que sea posible entre sí, y lo más diferentes a los de otros grupos.

**Casos de aplicación de clustering.**
* No conocemos con anterioridad las etiquetas de nuestros datos (Aprendizaje no supervisado).
* Queremos descubrir patrones ocultos a simple vista.
* Queremos identificar datos atípicos.

## El algoritmo de k-means
Es un algoritmo de clasificación no supervisada (clusterización) que agrupa objetos en k grupos basándose en sus características. El agrupamiento se realiza minimizando la suma de distancias entre cada objeto y el centroide de su grupo o cluster. Se suele usar la distancia cuadrática.

El algoritmo consta de tres pasos:

1.- **Inicialización:** una vez escogido el número de grupos, k, se establecen k centroides en el espacio de los datos, por ejemplo, escogiéndolos aleatoriamente.

2.- **Asignación objetos a los centroides:** cada objeto de los datos es asignado a su centroide más cercano.

3.- **Actualización centroides:** se actualiza la posición del centroide de cada grupo tomando como nuevo centroide la posición del promedio de los objetos pertenecientes a dicho grupo.

In [5]:
from sklearn.cluster import MiniBatchKMeans

X = df.drop('competitorname', axis = 1)
model_kmeans = MiniBatchKMeans(n_clusters=4,batch_size=8)
model_kmeans.fit(X)
print('Total de centros = {}'.format(len(model_kmeans.cluster_centers_)))
print(model_kmeans.predict(X))

Total de centros = 4
[1 1 3 2 2 2 1 0 3 3 3 3 0 2 3 2 3 2 1 3 2 2 2 1 1 1 0 1 1 3 3 2 1 1 2 2 1
 1 1 2 2 2 1 1 0 3 2 1 3 3 3 1 1 1 1 3 1 0 2 3 1 2 3 2 1 1 1 2 1 3 3 3 0 2
 2 2 2 2 2 1 2 3 2 3 2]